<footer class="footer">

    <div class="footer__arrow">
        <nav>
            <a title="Navegacor hacia arriba" href="./index.html#home">
                <img title="Up arrow" class="footer__arrow--img" src="assets/images/ico-arrow.svg"
                    alt="Flecha hacia abajo">
            </a>
        </nav>
    </div>
    <nav class="footer__pagenav">
        <ul class="footer__pagenav--list">
            <li><a href="https://adalab.es" target="_blank">Articles</a></li>
            <li><a href="https://adalab.es" target="_blank">Books</a></li>
            <li><a href="https://adalab.es" target="_blank">Events</a></li>
            <li><a href="https://adalab.es" target="_blank">Reason</a></li>
            <li><a href="https://adalab.es" target="_blank">Tips</a></li>
        </ul>
    </nav>
    <nav class="footer__smnav">
        <ul class="footer__smnav--list">
            <li><a href="https://adalab.es" target="_blank">Articles</a></li>
            <li><a href="https://adalab.es" target="_blank">Books</a></li>
            <li><a href="https://adalab.es" target="_blank">Events </a></li>
            <li><a href="https://adalab.es" target="_blank">Reasons</a></li>
            <li><a href="https://adalab.es" target="_blank">Tips</a></li>
        </ul>
    </nav>
    <div class="footer__copy">
        <small> &#169; 2021</small>
        <small> we &#10084;&#65039; components</small>
    </div>
</footer>