<footer>
    <nav>
        <img>
    </nav>
    <nav>
        <ul>
            <li><a>Articles</a></li>
            <li><a>Books</a></li>
            <li><a>Events</a></li>
            <li><a>Reason</a></li>
            <li><a>Tips</a></li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li><a>Articles</a></li>
            <li><a>Books</a></li>
            <li><a>Events </a></li>
            <li><a>Reasons</a></li>
            <li><a>Tips</a></li>
        </ul>
    </nav>
    <div><small> &#169; 2021</small>
        <small> we &hearts; components</small>
    </div>
</footer>