<section id="more-reasons" class="main">

    <h4 class="main__h4">
        3 Reasons to purchase
    </h4>
    <include src="./reasons.html" H5Reasons="Ut sed metus" Reasons="Lorem ipsum dolor sit amet, consecteur.">
    </include>
    <include src="./reasons.html" H5Reasons="Curabitur ac erat" Reasons="Mauris mattis urna quis lorem molestie.">
    </include>
    <include src="./reasons.html" H5Reasons="Morbi dictum" Reasons="Aliquam in dolor et dolor tincidunt."></include>
    <nav class="main__nav">
        <div class="main__nav--more">
            <a href="https://adalab.es/" target="_blank">More reasons</a>
        </div>
    </nav>
</section>