$ContrastColor: #0271bc;
$ContrastColor2: #304268;
$BottomsColor: #f26002;
$PrincipalColor: #ffffff;
$SecundaryColor: #eff9ff;
$TextColor1: #ffffff;
$TextColor2: #4a4a4a;
$TitleColor: #000000;
$SecundaryText: #8ccbea;
$typoTitle: Roboto Slab, sans-serif;
$typoText: Roboto-Regular, sans-serif;
