.hero {
  margin: 30px 15px 45px 15px;
  &__section {
    width: 100%;
    min-height: 376px;
    display: flex;
    flex-direction: column;

    &--small {
      font-size: 1.4rem;
      font-family: $typoText;
      line-height: 30px;
      color: $SecundaryText;
    }
    &--h3 {
      color: $TitleColor;
      text-transform: capitalize;
      line-height: 30px;
      font-family: $typoTitle;
      font-size: 2.4rem;
      margin-bottom: 15px;
    }
    &--text {
      color: $TextColor2;
      font-size: 1.8rem;
      font-family: $typoText;
      line-height: 30px;
      margin-bottom: 30px;
    }
  }
  &__nav {
    width: 76px;
    height: 45px;
    border: solid $BottomsColor 2px;
    border-radius: 22.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    &--go {
      color: $BottomsColor;
      font-family: $typoText;
      font-size: 2rem;
      line-height: 2.25;
    }
  }
}
