.footer {
  width: 100vw;
  background-color: $ContrastColor2;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  color: $PrincipalColor;

  font-family: $typoText;
  text-transform: uppercase;
  text-align: center;
  line-height: 30px;

  @media (min-width: $tablet) {
    max-height: 240px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    padding-left: 39px;
    padding-right: 39px;
    &__arrow {
      order: 4;
      align-self: flex-start;
      margin-right: 50px;
      position: absolute;
      left: 50%;
    }
    &__pagenav {
      margin-top: 45px;
      order: 3;
      width: 210px;
      font-size: 16px;
    }
    &__smnav {
      width: 210px;
      margin-top: 45px;
      order: 4;
      margin-right: 39px;
      font-size: 16px;
    }
    &__copy {
      width: 210px;
      order: 2;
      padding-bottom: 30px;
      margin-top: 45px;
      margin-left: 39px;
      text-align: left;
      display: flex;
      flex-direction: row;
      font-size: 14px;
    }
  }
  @media (min-width: $desktop) {
    padding-left: 360px;
    padding-right: 360px;
  }

  &__arrow {
    margin-bottom: 37px;
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $PrincipalColor;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: translatey(-20px);
    animation: up-arrow 3s infinite;

    &--img {
      vertical-align: middle;
    }
  }

  &__pagenav {
    margin-bottom: 30px;
    font-size: 16px;
  }
  &__smnav {
    margin-bottom: 30px;
    font-size: 16px;
  }
  &__copy {
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    text-transform: lowercase;
    font-size: 16px;
  }
}
@keyframes up-arrow {
  50% {
    transform: rotate(360deg);
  }
  20% {
    transform: rotate(-360deg);
  }
}
