.header {
  width: 100%;
  height: 100vh;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 15px;

  &__h1 {
    width: 290px;
    height: 110px;
    margin-bottom: 10px;
    font-size: 4.2rem;
    text-transform: capitalize;
    text-align: center;
    color: $PrincipalColor;
    font-family: $typoTitle;
    line-height: 55px;
  }
  &__h2 {
    color: $PrincipalColor;
    font-size: 1.6rem;
    margin-bottom: 45px;
    font-family: $typoText;
    font-weight: normal;
  }
  &__arrow {
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $PrincipalColor;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 53px;

    &--img {
      width: 20px;
      height: 11.7px;
      vertical-align: middle;
    }
  }
}
.header__menu {
  width: 44px;
  height: 44px;
  background-color: $ContrastColor;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;

  &--img {
    width: 16px;
  }
}
